.spanOneOf {
    height: 45px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/tamara-bellis-Mn1Uopx7if8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}