.spanOneOf {
    height: 45px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/tamara-bellis-Mn1Uopx7if8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.spanTwoOf {
    height: 45px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/stefan-stefancik-QXevDflbl8A-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.spanThreeOf {
    height: 45px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/shifaaz-shamoon-pNrMhpntZFM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.spanFourOf {
    height: 45px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/ryan-moreno-IcAtXrAZx8E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.spanFiveOf {
    height: 45px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/suhyeon-choi-G9XMLUAjETM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.spanOfAddF {
    height: 45px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/prince-akachi-LWkFHEGpleE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.spanOfAddFT {
    height: 45px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/prince-akachi-l3IHXOdMyHQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.spanOfAddFTt {
    height: 45px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/premium_photo-1719327579779-55a367ed9c6e.avif);
    background-size: cover;
    background-repeat: no-repeat;
}


/* :hover.test{
    transform: translateY(-5px), translateX(7px);
    transition-duration: 1.5s;
} */