.backgrounding {
    background-image: url(../../../../public/people-images/aiony-haust-3TLl_97HNJo-unsplash.jpg);
    background-size: cover;
}

.backgroundingOne {
    background-image: url(../../../../public/people-images/alex-perri-At__EKm5PGE-unsplash.jpg);
    background-size: cover;
}

.backgroundingTwo {
    background-image: url(../../../../public/people-images/aiony-haust-f2ar0ltTvaI-unsplash.jpg);
    background-size: cover;
}

.backgroundingThree {
    background-image: url(../../../../public/people-images/bardia-hashemirad-3P7jxpEgkC4-unsplash.jpg);
    background-size: cover;
}

.backgroundingFour {
    background-image: url(../../../../public/people-images/albert-dera-ILip77SbmOE-unsplash.jpg);
    background-size: cover;
}

.backgroundingFive {
    background-image: url(../../../../public/people-images/arvin-keynes-IPETsB4dcCs-unsplash.jpg);
    background-size: cover;
}

.backgroundingSix {
    background-image: url(../../../../public/people-images/brooke-cagle-emlKHDEydhg-unsplash.jpg);
    background-size: cover;
}

.spanOne {
    height: 30px;
    border-radius: 50%;
    background-image: url(../../../../public/people-images/alex-perri-At__EKm5PGE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}