.backgrounding {
    background-image: url(../../../../public/people-images/aiony-haust-3TLl_97HNJo-unsplash\ \(1\).jpg);
    background-size: cover;
}

.backgroundingOne {
    background-image: url(../../../../public/people-images/averie-woodard-WsSdUPXVb4M-unsplash\ \(1\).jpg);
    background-size: cover;
}

.backgroundingTwo {
    background-image: url(../../../../public/people-images/aiony-haust-f2ar0ltTvaI-unsplash\ \(1\).jpg);
    background-size: cover;
}

.backgroundingThree {
    background-image: url(../../../../public/people-images/bardia-hashemirad-3P7jxpEgkC4-unsplash\ \(1\).jpg);
    background-size: cover;
}

.backgroundingFour {
    background-image: url(../../../../public/people-images/albert-dera-ILip77SbmOE-unsplash\ \(1\).jpg);
    background-size: cover;
}

.backgroundingFive {
    background-image: url(../../../../public/people-images/arvin-keynes-IPETsB4dcCs-unsplash\ \(1\).jpg);
    background-size: cover;
}

.backgroundingSix {
    background-image: url(../../../../public/people-images/brooke-cagle-emlKHDEydhg-unsplash\ \(1\).jpg);
    background-size: cover;
}